.deploy/
.env
.DS_Store
/api
/config/vapid.json
/data/
/services/*/logs/
*.log
web/node_modules/
web/dist/
macos/node_modules/
macos/dist/
macos/app/
macos/.vite/
ssh/
*.md
!TESTING_POLICY.md
tools/
dist/
dock/
release/**/*.tar
release/**/*.tar.gz
desktop/windows-webview2-wrapper/**/bin/
desktop/windows-webview2-wrapper/**/obj/
